In [2]:
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype

In [3]:
df = pd.DataFrame({'ID':[100,101,102,103],
                  'Quality':['good','very good','good','excellent']})

In [4]:
df

    ID    Quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

# Objective

<li> How will you know Excellent is greater than good

## Create ordered category

In [10]:
cat_type = CategoricalDtype(['good','very good','excellent'],ordered=True)

In [11]:
df['Quality']=df.Quality.astype(cat_type)

In [12]:
df.Quality

0         good
1    very good
2         good
3    excellent
Name: Quality, dtype: category
Categories (3, object): [good < very good < excellent]

## Sorting and comparision work logically

In [14]:
df.sort_values('Quality')

    ID    Quality
0  100       good
2  102       good
1  101  very good
3  103  excellent

In [15]:
df[df['Quality']>'good']

    ID    Quality
1  101  very good
3  103  excellent

# Objective

<li> When was each patient's last visit.?

In [16]:
df = pd.DataFrame({'patient':[101,102,101,103,102],
                  'visit':['2015','2016','2016','2018','2019']})
df

   patient visit
0      101  2015
1      102  2016
2      101  2016
3      103  2018
4      102  2019

In [17]:
df=df.sort_values('visit')
df

   patient visit
0      101  2015
1      102  2016
2      101  2016
3      103  2018
4      102  2019

In [27]:
df.groupby('patient').visit.last()

# Last visit

patient
101    2016
102    2019
103    2018
Name: visit, dtype: object

In [28]:
df.groupby('patient').visit.first()

# First visit

patient
101    2015
102    2016
103    2018
Name: visit, dtype: object

In [29]:
df.groupby('patient').visit.count()

# No.of visits

patient
101    2
102    2
103    1
Name: visit, dtype: int64

#### <center><i style='color:red'> Pretty Cool, Right.?</i></center>